body{
    background-color: #393E46;;
}
.container{
    text-align: center;
    width: 70%;
    margin: auto;
    
}
.dice{
    display: inline-block;
    text-align: center;
    
}
h1{
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    margin: 30px;


}
p{
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.dice{
    display: inline-block;
    text-align: center;
    
}
img{
    width: 80%;
}




footer{
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    margin-top: 5%;

    font-family: 'Indie Flower', cursive;
    
}







